#articleContentWrapperOne div{
	background-image: url(../../../PNGs/Travels/travelledTravels/pagodaIcon.png);
}

.articleContentPictures:nth-child(1){
	background-image: url(../../../Photos/Travels/travelledTravells/taungWine4.jpg);
}

.articleContentPictures:nth-child(2){
	background-image: url(../../../Photos/Travels/travelledTravells/taungWine3.jpg);
}

.articleContentPictures:nth-child(3){
	background-image: url(../../../Photos/Travels/travelledTravells/taungWine2.jpg);
}

.articleContentPictures:nth-child(4){
	background-image: url(../../../Photos/Travels/travelledTravells/taungWine1.jpg);
}
.articleContentDetails{
	background-image: url(../../../PNGs/Travels/travelledTravels/pagoda.png);
}

